.mainWrapper {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;

  align-items: center;
  position: relative;
  background: var(--primaryColor);
  width: 100vw;
  overflow: hidden;
  z-index: 1;
  padding: 50px 0;
}
.initialPageWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}
.topPattern {
  margin-left: auto;
  max-width: 520px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}
.bottomPattern {
  /* position: absolute;
  right: 0;
  top: 0; */
  max-width: 520px;
  margin-right: auto;
  margin-top: auto;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
}
.wrapper {
  max-width: 991px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 150px 0;
}
.totalItems {
  font-size: 450px;
  line-height: 80%;
  font-weight: 800;
  color: var(--accentColor);
}
.heading {
  font-size: 70px;
  line-height: 120%;
  font-weight: 400;
  color: var(--secondaryColor);
  max-width: 500px;
}
.heading span {
  background: var(--secondaryColor);
  color: var(--primaryColor);
  padding: 10px 12px;
  border-radius: 10px;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 65px;
  margin: 8px 0;
  line-height: 100%;
}
.by {
  font-size: 32px;
  line-height: 120%;
  font-weight: 300;
  color: var(--secondaryColor);
  text-align: right;
  margin-left: auto;
  margin-top: auto;
}
.otherPages {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.otherPages .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  max-width: 600px;
}
.header {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 15px;
  width: 100%;
}
.id {
  font-size: 40px;
  line-height: 100%;
  font-weight: 500;
  color: var(--primaryColor);
  background: var(--accentColor);
  min-width: 80px;
  padding: 15px;
  text-align: center;
  border-radius: 10px;
}
.title {
  font-size: 40px;
  line-height: 100%;
  font-weight: 400;
  color: var(--primaryColor);
  background: var(--secondaryColor);
  padding: 15px;
  border-radius: 10px;
}
.infoContainer {
  background: var(--secondaryColor);
  padding: 15px;
  border-radius: 10px;
}
.info {
  font-size: 32px;
  line-height: 130%;
  font-weight: 400;
  color: var(--primaryColor);
}
